* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Gingham Variable', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'GinghamVariable', sans-serif;
    font-variation-settings: "wght" 400;
  }
}

body {
  height: 100%;
}

#root {
  height: 100%;
}